.IdSelector {
	margin: 25px;
	display: flex;
	justify-content: space-around;
	// border: 1px solid black;
}

.dropdown-menu {
	width: 100%;
	min-height: auto;
	max-height: 15rem;
	overflow-y: scroll;
}
