.pageNumbersNav {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	bottom: 0rem;
	width: 100%;
}

.pageNumberHider {
	display: none;
}
.dark-mode {
	background: rgb(24, 24, 24);
	color: whitesmoke;
	transition: 0.1s ease-in;
}
