.reviewContainer {
	margin: 10px;
	font-size: 18px;
	// border: 1px solid black;
	// height: 20vh;
	padding-bottom: 5rem;
}

.reviewContainer h3 {
	text-align: center;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
	height: 50vh;
	// border: 1px solid black;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid rgb(30, 30, 30);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
