.ReviewCardSection {
	// margin: 30px;
	// border: 1px solid red;
	padding: 1rem;
	// margin: 1rem;
	// width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .review-card {
// 	width: "100%";
// 	height: "5rem";
// }

.card-body {
	max-height: 100%;
	padding: 1rem !important;
	margin: 1rem;
	// border: 1px solid black;
}

.rating {
	padding: 0.5rem;
	margin: 0.5rem;
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ratingCol {
	padding: 0;
	margin: 0;
}

.ratingDesription {
	font-size: 15px;
}

.pairRating1 {
	padding: 10px;
}
.pairRating2 {
	padding: 10px;
}

.pairRating {
	display: flex;
	align-items: flex-end;
}

// .ratingCol {
// 	width: auto;
// 	border: 1px solid blue;
// }

.col {
	// padding: 0 !important;
	margin: 0 !important;
}

.card {
	width: 65%;
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: 4px 4px rgba(#0069d9, 0.8);
}
.card-title {
	font-size: 1.5rem !important;
	font-weight: 100;
}

.arrowDown,
.arrowUp {
	height: 1.5rem;
}

.expandToggler {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.5rem;
	// border-top: 0.5px dotted rgba(189, 180, 180, 0.5);
}

.extraDetails {
	height: 7rem !important;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1rem;
	justify-content: space-evenly;
	border-top: 0.5px dotted rgba(189, 180, 180, 0.5);
}
.extraDetails p {
	margin: 2px;
}

.ReviewDeatils {
	display: flex;
	justify-content: center;
	align-items: center;
}

.likedProducts {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.1rem;
}

.productLiking {
	margin-left: 1rem;
	max-width: 3rem;
	max-height: 3rem;
}

.extraDetailsCol1 {
	width: 17rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.extraDetailsCol2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.extraDetailsCol2 p {
	display: flex;
	justify-content: center;
	width: 100%;
}

.dark-mode-card {
	background: rgb(55, 25, 125) !important;
	color: whitesmoke;
	box-shadow: 4px 4px rgba(#0089f9, 0.7);
	// transition: 0.1s ease-in;
	// border: 10px solid whitesmoke;
}

.dark-mode-stars {
	.multirating-icon {
		background-color: red;
	}
}

@media screen and (max-width: 786px) {
	.ReviewCardSection {
		// margin: 30px;
		// border: 1px solid red;
		padding: 0.3rem;
		// margin: 1rem;
		// width: 125%;
	}

	.card {
		width: 100%;
	}

	.card-body {
		align-items: center;
		justify-content: center;
		padding: 1rem !important;
		margin: 1rem;
		max-height: 100%;
		// border: 1px solid black;
	}

	.extraDetails {
		display: flex;
		height: auto !important;
		width: auto;
		justify-content: center;
		align-items: center;
	}
	.extraDetailsCol1 {
		min-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		margin: 1rem;
	}
	.extraDetailsCol2 {
		width: auto;
		padding: 1rem;
		margin: 1rem;
		padding-bottom: 0;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card-body {
		text-align: center;
		max-height: 100%;
		padding: 1rem !important;
		margin: 1rem;
		// border: 1px solid black;
	}
}
