App {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
}

Pagination {
	position: fixed;
	left: 0;
	bottom: 0;
}

//Import partials ( Starts with _ )
@import "./Navbar";
@import "./IdSelector";
@import "./ReviewContainer";
@import "./ReviewCard";
@import "./Pagination";
