.App {
	position: relative;
	min-height: 100vh;
	// overflow-y: scroll;
}

.dark-mode {
	background: rgb(24, 24, 24);
	color: whitesmoke;
	transition: 0.1s ease-in;
}

//Import partials ( Starts with _ )
@import "./Navbar";
@import "./IdSelector";
@import "./ReviewContainer";
@import "./ReviewCard";
@import "./Pagination";
